[submodule "LvglPlatform/lvgl"]
	path = LvglPlatform/lvgl
	url = https://github.com/ataweg/lvgl.git
[submodule "LvglPlatform/freetype"]
	path = LvglPlatform/freetype
	url = https://github.com/freetype/freetype
